# .gitconfig sample file - https://gist.github.com/pksunkara/988716

[user]
        name = "Jonas Johan Solsvik"
        email = "jonas@maritimeoptima.com"
        signingkey = <Example "S324BD6BA963D3"> 
[core]
        editor = vim 

[alias]
        s  = status
        sb = status -s -b
        lg = log --oneline --graph --decorate

[credential]
        helper = cache

[url "git@github.com:"]
        insteadOf = "https://github.com/"

[commit]
        # https://help.github.com/articles/signing-commits-using-gpg/
        gpgsign = true

[pull]
        rebase = false
