# .gitconfig sample file - https://gist.github.com/pksunkara/988716

[user]
        name = Jonas
        email = jonas@example.com
        signingkey = <signinkey example: C4F5C6A6850E5633>
[core]
        editor = subl

[alias]
        s  = status
        sb = status -s -b
        lg = log --oneline --graph --decorate

[credential]
        helper = cache

[commit]
        # https://help.github.com/articles/signing-commits-using-gpg/
        gpgsign = true
